.card {
  width: 157px;
  position: relative;

}

.frontCard,
.backCard {
  width: 100%;
  border: none;
  border-radius: 15px;
  box-shadow: 5px 1px 5px 1px rgba(145, 100, 100, 0.5);
  width: 157px;
  height: 195px;
}

.backCard {
  position: absolute;
  transform: rotateY(90deg);
}

.flipped {
  .backCard {
    transform: rotateY(0deg);
  }
}
