.game--wrapper {
  height: 100vh;
  background-color: #faf3fa;
  width: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding-bottom: 5%;

  h1 {
    margin: 0;
    text-align: center;
    color: #8b6a6a;
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: lighter;
    font-size: 2.5em;
  }
}

.stats {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-family: "Annie Use Your Telescope", cursive;
  color: #8b6a6a;
}

.game {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  flex-direction: row;
  gap: 12px;
  backface-visibility: hidden;
}
